{% extends "page_template.html" %}
{% block title %}&Uuml;bersicht{% endblock %}
{% block navigation %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sortieren
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" href="{{ pagination.order_date_desc }}">
                    Neueste Fotos zuerst
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ pagination.order_date_asc }}">
                    &Auml;lteste Fotos zuerst
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    {% for section in thumbnails.sections %}
    <div class="container">
        <h1>{{ section["headline"] }}</h1>
        {% for image in section.thumbnails %}
            <a href="{{ image.details }}" class="thumbnail-href">
                <img class="rounded thumbnail" src="{{ image.uri }}" width="128" height="128"/>
            </a>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="container">
        <a class="btn btn-secondary" href="{{ pagination.prev }}">Zur&uuml;ck</a>
        <a class="btn btn-secondary" href="{{ pagination.next }}">Weiter</a>
    </div>
{% endblock %}
