{% extends "page_template.html" %}
{% block title %}Details{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <img class="img-fluid" src="{{ pic_url }}">
            </div>
            <div class="col-lg-4">
                <table class="table table-striped">
                    <tbody>
                        {% for key, value in pic.items() %}
                        <tr>
                            <th scope="row">{{ key }}</th>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">Tags</th>
                            <td>
                                <form action="{{ set_tags_url }}" method="post">
                                    <div class="input-group mb-3">
                                        <input type="text" name="uuid" hidden="true" value="{{ uuid }}">
                                        <input type="text" name="tags" class="form-control" value="{{ tags }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit">Ok</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
