<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">

    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - Gallerie Goldmann-Heise</title>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active navbar-brand" href="/">Start</a>
                </li>
                {% block navigation %}{% endblock %}
            </ul>
        </div>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; 2022 Goldmann-Heise
        {% endblock %}
    </div>

    <script src="/static/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    {% block script %}{% endblock %}

</body>
</html>
